@media screen and (max-width: 768px) {
    header{
    padding: 10px 20px;
    }
    header #header-buttons .button{
        font-size: 13px;

    }
  header #logo{
    width: 80px;
    height: auto;
  }
  #sobre-nos-content{
    grid-template-columns: 1fr;
    padding: 0 20px;
    width: 100vw;
  }
  #sobre-nos-content p, #dados-utilizados-content p{
    font-size: 18px;
  }
  #sobre-nos-content h1, #dados-utilizados-content h1{
    font-size: 25px;
  }
  #sobre-nos-content img{
    width: 100%;
    height: auto;
    border-radius: 70% 40%;
    border: 1px solid white;
  }
    #dados-utilizados-content{
        padding: 50px 20px;
        width: 100vw;
    }
  #dados-utilizados-content .dados{
    grid-template-columns: 1fr;
  }
  #dados-utilizados-content .dados .dados-detalhes img{
    width: 100%;
    height: auto;
    border: 1px solid white;
  }
  .footer-content .footer-logo #logo-footer{
    width: 150px;
    height: auto;
    
  }



    
}